.climate-chart {
    .precipitation-chart-container,
    .temperature-chart-container {
        height: 18rem;

        .rect {
            fill: currentColor;
            pointer-events: none;
        }

        .temperature {
            color: var(--go-ui-color-red-50);
        }

        .precipitation {
            color: var(--go-ui-color-blue);
        }
    }
}
