.text-output {
    display: flex;
    flex-wrap: wrap;

    &.with-uppercase-letters {
        text-transform: uppercase;
    }

    &.with-light-text {
        color: var(--go-ui-color-text-light);
    }

    &.with-block-layout {
        flex-direction: column;
        flex-wrap: initial;
    }

    &.with-background {
        border-radius: var(--go-ui-border-radius-md);
        background-color: var(--go-ui-color-background);
    }

    &.with-light-background {
        border-radius: var(--go-ui-border-radius-md);
        background-color: var(--go-ui-color-foreground);
    }

    .label {
        &.with-colon::after {
            content: ':';
        }
    }

    .value {
        &.text-type {
            text-align: justify;
            white-space: pre-wrap;
            overflow-wrap: anywhere;
        }
    }

    .strong {
        font-weight: var(--go-ui-font-weight-semibold);
    }

    &.text-size-small {
        font-size: var(--go-ui-font-size-sm);
    }

    &.text-size-medium {
        font-size: var(--go-ui-font-size-md);
    }

    &.text-size-large {
        font-size: var(--go-ui-font-size-lg);
    }
}
