.pager {
    .page-list {
        display: flex;
        align-items: center;

        .page-button {
            display: flex;
            align-items: center;
            justify-content: center;
            /* FIXME: use variable */
            width: 1.875rem;
            height: 1.875rem;
            line-height: 1;
            font-size: var(--go-ui-font-size-sm);

            &.active {
                border-radius: 50%;
                background-color: var(--go-ui-color-primary-red);
                color: var(--go-ui-color-white);
            }

            &.compact {
                font-size: var(--go-ui-font-size-xs);
                font-weight: var(--go-ui-font-weight-medium);
            }

            &:disabled {
                opacity: var(--go-ui-opacity-disabled-element);
            }

            .icon {
                font-size: var(--go-ui-font-size-2xl);
            }
        }
    }
}
