.yearly-chart {
    --color-dref: var(--go-ui-color-primary-blue);
    --color-emergency-appeal: var(--go-ui-color-primary-red);
    min-height: 24rem;

    .timeline-chart {
        width: 100%;
        height: 22rem;
        grid-column: span 2;
        --path-stroke-width: 1pt;

        .dref {
            color: var(--color-dref);
            stroke: var(--color-dref);
            stroke-width: var(--path-stroke-width);
            fill: none;
        }

        .emergency-appeal {
            color: var(--color-emergency-appeal);
            stroke: var(--color-emergency-appeal);
            stroke-width: var(--path-stroke-width);
            fill: none;
        }
    }
}
