.input-container {
    position: relative;

    .input-section {
        align-items: center;
        transition: var(--go-ui-duration-transition-medium) var(--go-ui-color-gray-10) ease-in-out;
        border-bottom: var(--go-ui-width-separator-thin) solid transparent;
        border-radius: var(--go-ui-border-radius-md);
    }

    &.general-variant {
        .input-section {
            border-radius: 0;
            border-bottom-color: var(--go-ui-color-separator);
        }
    }

    &.disabled {
        opacity: var(--go-ui-opacity-disabled-element);

        .input-section {
            cursor: not-allowed;
        }
    }

    &.with-update-highlight {
        &.form-variant,
        &.transparent-variant,
        &.general-variant {
            .input-section {
                background-color: color-mix(in srgb, var(--go-ui-color-semantic-yellow) 30%, transparent);
            }
        }
    }

    &.with-add-highlight {
        &.form-variant,
        &.transparent-variant,
        &.general-variant {
            .input-section {
                background-color: color-mix(in srgb, var(--go-ui-color-green) 20%, transparent);
            }
        }
    }

    &.with-remove-highlight {
        &.form-variant,
        &.transparent-variant,
        &.general-variant {
            .input-section {
                background-color: color-mix(in srgb, var(--go-ui-color-red) 20%, transparent);
            }
        }
    }

    &.form-variant {
        .input-section { /* stylelint-disable-line no-descending-specificity */
            background-color: var(--go-ui-color-element-background);
        }

        &.errored {
            .input-section {
                border-color: var(--go-ui-color-red);
            }
        }

        &:not(.read-only):not(.disabled) {
            .input-section {
                &:hover,
                &:focus-within {
                    border-bottom-color: var(--go-ui-color-primary-red);
                }
            }
        }

        &:not(.disabled):not(.read-only):hover:enabled {
            .input-section {
                border-bottom-color: var(--go-ui-color-primary-red);
            }
        }
    }

    .input-hint {
        color: var(--go-ui-color-text-light);
        font-size: var(--go-ui-font-size-sm);
    }

    .input-error {
        &.error-on-tooltip {
            position: absolute;
            min-width: 10rem;
        }
    }
}
