.input-label {
    display: flex;
    gap: var(--go-ui-spacing-4xs);
    color: var(--go-ui-color-text-light);
    font-size: var(--go-ui-font-size-sm);

    &.disabled {
        color: var(--go-ui-color-gray-40);
    }

    .required {
        color: var(--go-ui-color-primary-red);
    }
}
