.popup {
    display: flex;
    flex-direction: column;
    padding: var(--go-ui-spacing-sm) 0;

    .list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .list-item {
            flex-shrink: 0;
        }
    }

    .info-message {
        padding: var(--go-ui-spacing-sm);
        text-align: center;
        color: var(--go-ui-color-text-light);
    }
}

.icon {
    font-size: var(--go-ui-height-icon-multiplier);
}
