.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--go-ui-border-radius-lg);
    background-color: var(--go-ui-color-foreground);
    padding: var(--go-ui-spacing-md);
    min-height: var(--go-ui-content-min-height);
    text-align: center;
    gap: var(--go-ui-spacing-sm);

    .icon {
        line-height: 1;
        color: var(--go-ui-color-text-light);
        font-size: var(--go-ui-height-status-icon);

        .spinner {
            line-height: 1;
            font-size: var(--go-ui-height-compact-status-icon);
        }
    }

    .title {
        color: var(--go-ui-color-text-light);
        font-size: var(--go-ui-font-size-lg);
        font-weight: var(--go-ui-font-weight-medium);
    }

    &.errored {
        .title {
            color: var(--go-ui-color-primary-red);
        }
    }

    &.compact {
        padding: var(--go-ui-spacing-sm);
        min-height: var(--go-ui-compact-content-min-height);

        .title {
            font-size: var(--go-ui-font-size-md);
        }

        .icon {
            font-size: var(--go-ui-font-size-xl);

            .spinner {
                font-size: var(--go-ui-font-size-xl);
            }
        }
    }
}
