.indicator {
    display: grid;
    grid-gap: var(--go-ui-spacing-sm) var(--go-ui-spacing-md);
    grid-template-columns: 10fr 3fr 3fr;
    align-items: center;

    @media screen and (max-width: 30rem) {
        grid-template-columns: 1fr;
    }
}
