.country-list-item {
    .bar-track {
        border-radius: 0.25rem;
        background-color: color-mix(in srgb, var(--go-ui-color-primary-blue) 5%, transparent);

        .bar {
            height: 0.5rem;

            &:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }

            &:last-child {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
    }
}
