.raw-input {
    margin: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 100%;
    min-height: 5em;
    /* FIXME: use variable */
    max-height: min(50rem, 80vh);
    resize: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    field-sizing: content;
}
