.raw-input {
    margin: unset;
    outline: unset;
    border: unset;
    background-color: unset;
    padding: var(--go-ui-spacing-4xs) 0;
    width: 100%;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    &:disabled {
        cursor: not-allowed;
    }
}
