.error-content {
    color: var(--go-ui-color-red);
}

.input-error {
    display: flex;
    align-items: center;
    opacity: 0;

    padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);
    animation: slide-down var(--go-ui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--go-ui-duration-transition-fast);
    gap: var(--go-ui-spacing-sm);
}

.pointer {
    opacity: 0;
    animation: fade-in var(--go-ui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--go-ui-duration-transition-medium);
    color: var(--go-ui-color-red);
}

@keyframes slide-down {
    from {
        transform: translateY(-5pt);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
