.radio {
    display: contents;

    .active-icon {
        color: var(--go-ui-color-primary-red);
    }

    .input {
        position: absolute;
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        pointer-events: none;
    }
}
