.row {
    .cell {
        padding: var(--go-ui-spacing-xs);
        overflow: hidden;
        overflow-wrap: break-word;
    }

    /*
    &:hover {
        .cell {
            background-color: var(--go-ui-color-background-hover);
        }
    }
    */
}
