{{- if .Values.ingress.enabled }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "ifrcgo-risk-module.fullname" . }}-ingress
  labels:
    app.kubernetes.io/name: {{ include "ifrcgo-risk-module.fullname" . }}
    app.kubernetes.io/component: {{ include "ifrcgo-risk-module.fullname" . }}-api
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
spec:
  ingressClassName: {{ required "ingress.className" .Values.ingress.className | quote }}
  rules:
    - host: {{ required "ingress.host" .Values.ingress.host | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "ifrcgo-risk-module.fullname" . }}-api-svc
                port:
                  number: 80

{{- end }}
