environment: test

fullnameOverride: ifrcgo-risk

image:
  name: ghcr.io/ifrcgo/go-risk-module-api
  tag: test

imagePullSecrets:
  - name: ghcr-secret

ingress:
  enabled: true
  host: go-risk-test.ifrc.org

postgresql:
  enabled: true

redis:
  enabled: true

env:
  # Application info
  RISK_API_FQDN: go-risk-test.ifrc.org
  # Django configs
  DJANGO_DEBUG: false
  DJANGO_ALLOWED_HOSTS: "*"
  TIME_ZONE: "UTC"
  # Sentry
  SENTRY_TRACE_SAMPLE_RATE: "0.2"
  SENTRY_PROFILE_SAMPLE_RATE: "0.2"
  # Logging
  APPS_LOGGING_LEVEL: "WARNING"

secrets:
  DJANGO_SECRET_KEY: test
  # Database
  DATABASE_NAME: test
  DATABASE_USER: test
  DATABASE_PASSWORD: test
  DATABASE_HOST: test
  DATABASE_PORT: 5432
  # Sentry
  SENTRY_DSN: "https://test.com/test"
  # PDC
  PDC_USERNAME: test
  PDC_PASSWORD: test
  PDC_ACCESS_TOKEN: test
  # Meteoswiss
  METEOSWISS_S3_ENDPOINT_URL: test
  METEOSWISS_S3_BUCKET: test
  METEOSWISS_S3_ACCESS_KEY: test
  METEOSWISS_S3_SECRET_KEY: test


azure:
  aksSecretsProviderAvailable: true
  keyvault:
    name: risk-module-playground-k
    clientId: "1d64d996-002b-47c0-ad1f-b2a400d83d5c"
    tenantId: "a2b53be5-734e-4e6c-ab0d-d184f60fd917"

serviceAccount:
  # Specifies whether a service account should be created
  # Required when using workload identity to access Azure Key Vault Secrets
  create: true
  automount: true
  annotations:
    azure.workload.identity/client-id : "1d64d996-002b-47c0-ad1f-b2a400d83d5c"
  labels:
    azure.workload.identity/use: "true"
  name: "service-token-reader"
