environment: prod

image:
  name: SET-BY-CICD-IMAGE
  tag: SET-BY-CICD-TAG

imagePullSecrets: []

ingress:
  enabled: false
  className: webapprouting.kubernetes.azure.com
  host:


# Subchart configuration
# XXX: This is for local/playground usages only.
# For production use azure postgres server and provide credentials using azure keyvault
postgresql:
  enabled: false
  fullnameOverride: ifrcgo-risk-module-postgresql
  architecture: standalone
  auth:
    postgresPassword: "postgres"
    username: "postgres"
    password: "postgres"
    database: "risk"
  primary:
    persistence:
      enabled: true
      storageClass: ""
      size: 8Gi

redis:
  enabled: false
  architecture: standalone
  fullnameOverride: ifrcgo-risk-module-redis
  auth:
    enabled: false
  master:
    persistence:
      enabled: true
      storageClass: ""
      size: .5Gi

api:
  enabled: true
  replicaCount: 1
  containerPort: 80
  resources:
    requests:
      cpu: "2"
      memory: 0.5Gi
    limits:
      cpu: "2"
      memory: 1Gi

env:
  # Application info
  # RISK_ENVIRONMENT: .environment is used
  RISK_API_FQDN:
  # Django configs
  DJANGO_DEBUG: false
  DJANGO_ALLOWED_HOSTS: "*"
  TIME_ZONE: "UTC"
  # Sentry
  SENTRY_TRACE_SAMPLE_RATE: "0.2"
  SENTRY_PROFILE_SAMPLE_RATE: "0.2"
  # Logging
  APPS_LOGGING_LEVEL: "WARNING"

secretsName: ""
secrets:
  DJANGO_SECRET_KEY:
  # Database
  DATABASE_NAME:
  DATABASE_USER:
  DATABASE_PASSWORD:
  DATABASE_HOST:
  DATABASE_PORT: 5432
  # Sentry
  SENTRY_DSN: ""
  # PDC
  PDC_USERNAME:
  PDC_PASSWORD:
  PDC_ACCESS_TOKEN:
  # Meteoswiss
  METEOSWISS_S3_ENDPOINT_URL:
  METEOSWISS_S3_BUCKET:
  METEOSWISS_S3_ACCESS_KEY:
  METEOSWISS_S3_SECRET_KEY:

worker:
  enabled: true
  defaultResources:
    requests:
      cpu: "1"
      memory: 1Gi
    limits:
      cpu: "1"
      memory: 2Gi
  # NOTE: Application level configuration
  cronjobs:
    "import_earthquake_data":
      schedule: "0 0 * * *"
      enabled: true
      # timeLimit: 7200
    "create_pdc_data":
      schedule: "0 */2 * * *"
      enabled: true
    "create_pdc_daily":
      schedule: "0 5 * * *"
      enabled: true
    "create_pdc_displacement":
      schedule: "0 */3 * * *"
      enabled: true
    "create_pdc_polygon":
      schedule: "0 */6 * * *"
      enabled: true
    "create_pdc_intensity":
      schedule: "0 */7 * * *"
      enabled: true
    "check_pdc_status":
      schedule: "0 1 * * *"
      enabled: true
    "create_hazard_information":
      schedule: "0 0 2 * *"
      enabled: true
    "create_adam_exposure":
      schedule: "0 */4 * * *"
      enabled: true
    "update_adam_cyclone":
      schedule: "0 */4 * * *"
      enabled: true
    "update_adam_alert_level":
      schedule: "0 */4 * * *"
      enabled: true
    "import_gdacs_data":
      schedule: "0 */4 * * *"
      enabled: true
    "pull_meteoswiss":
      schedule: "0 */4 * * *"
      enabled: true
    "pull_meteoswiss_geo":
      schedule: "0 */4 * * *"
      enabled: true
    "meteoswiss_agg":
      schedule: "0 */4 * * *"
      enabled: true

# Azure configurations
azure:
  aksSecretsProviderAvailable: false
  keyvault:
    name: ""
    clientId: ""
    tenantId: ""

serviceAccount:
  # Specifies whether a service account should be created
  # Required when using workload identity to access Azure Key Vault Secrets
  create: false
  automount: true
  annotations:
    azure.workload.identity/client-id : "<workload_identity_client_id>"
  labels:
    azure.workload.identity/use: "true"
  name: ""
