.progress-wrapper {
    --variant-color: var(--go-ui-color-primary-blue);

    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xs);

    .total {
        display: flex;
        flex-shrink: 0;
        border-radius: var(--go-ui-border-radius-md);
        background-color: var(--go-ui-color-separator);
        height: 0.5rem;

        .progress {
            transition: var(--go-ui-duration-transition-medium) width ease-in-out;
            border-radius: var(--go-ui-border-radius-md);
            background-color: var(--variant-color);
        }
    }

    &.color-variant-text {
        --variant-color: var(--go-ui-color-text);
    }

    &.color-variant-text-on-dark {
        --variant-color: var(--go-ui-color-text-on-dark);
    }

    &.color-variant-primary {
        --variant-color: var(--go-ui-color-primary-red);
    }

    &.color-variant-secondary {
        --variant-color: var(--go-ui-color-primary-blue);
    }

    &.color-variant-success {
        --variant-color: var(--go-ui-color-positive);
    }

    &.color-variant-danger {
        --variant-color: var(--go-ui-color-negative);
    }
}
