{{- if not .Values.azure.aksSecretsProviderAvailable -}}

kind: Secret
apiVersion: v1
metadata:
  name: {{ template "ifrcgo-risk-module.secretname" . }}
  labels:
    component: api-deployment
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
type: Opaque
stringData:
  DJANGO_SECRET_KEY: {{ required "secrets.DJANGO_SECRET_KEY" .Values.secrets.DJANGO_SECRET_KEY | quote }}

  # Database
  {{- if .Values.postgresql.enabled }}
  DATABASE_NAME: {{ .Values.postgresql.auth.database | quote }}
  DATABASE_USER: {{ .Values.postgresql.auth.username | quote }}
  DATABASE_PASSWORD: {{ .Values.postgresql.auth.password | quote }}
  DATABASE_HOST: {{ .Values.postgresql.auth.password | quote }}
  DATABASE_HOST: {{ include "postgresql.v1.primary.fullname" .Subcharts.postgresql | quote }}
  DATABASE_PORT: {{ include "postgresql.v1.service.port" .Subcharts.postgresql | quote }}
  {{- else }}
  DATABASE_NAME: {{ required "secrets.DATABASE_NAME" .Values.secrets.DATABASE_NAME | quote }}
  DATABASE_USER: {{ required "secrets.DATABASE_USER" .Values.secrets.DATABASE_USER | quote }}
  DATABASE_PASSWORD: {{ required "secrets.DATABASE_PASSWORD" .Values.secrets.DATABASE_PASSWORD | quote }}
  DATABASE_HOST: {{ required "secrets.DATABASE_HOST" .Values.secrets.DATABASE_HOST | quote }}
  DATABASE_PORT: {{ required "secrets.DATABASE_PORT" .Values.secrets.DATABASE_PORT | quote }}
  {{- end }}

  # Sentry
  SENTRY_DSN: {{ required "secrets.SENTRY_DSN" .Values.secrets.SENTRY_DSN | quote }}
  # PDC
  PDC_USERNAME: {{ required "secrets.PDC_USERNAME" .Values.secrets.PDC_USERNAME | quote }}
  PDC_PASSWORD: {{ required "secrets.PDC_PASSWORD" .Values.secrets.PDC_PASSWORD | quote }}
  PDC_ACCESS_TOKEN: {{ required "secrets.PDC_ACCESS_TOKEN" .Values.secrets.PDC_ACCESS_TOKEN | quote }}
  # Meteoswiss
  METEOSWISS_S3_ENDPOINT_URL: {{ required "secrets.METEOSWISS_S3_ENDPOINT_URL" .Values.secrets.METEOSWISS_S3_ENDPOINT_URL | quote }}
  METEOSWISS_S3_BUCKET: {{ required "secrets.METEOSWISS_S3_BUCKET" .Values.secrets.METEOSWISS_S3_BUCKET | quote }}
  METEOSWISS_S3_ACCESS_KEY: {{ required "secrets.METEOSWISS_S3_ACCESS_KEY" .Values.secrets.METEOSWISS_S3_ACCESS_KEY | quote }}
  METEOSWISS_S3_SECRET_KEY: {{ required "secrets.METEOSWISS_S3_SECRET_KEY" .Values.secrets.METEOSWISS_S3_SECRET_KEY | quote }}

{{- end }}
