.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--go-ui-color-background-overlay-dark);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    animation: fade-in var(--go-ui-duration-transition-medium) ease-in forwards;

    .focus-container {
        --spacing: calc(var(--go-ui-spacing-md) * 2);
        --max-full-width: calc(100% - var(--spacing));
        --max-page-width: calc(var(--go-ui-page-width-max) - var(--spacing));
        --max-full-height: calc(100% - var(--spacing));

        --max-width: min(var(--max-full-width), var(--max-page-width));
        --max-height: var(--max-full-height);

        display: block;
        width: 100%;
        max-width: var(--max-width);
        height: 100%;
        max-height: var(--max-height);
        overflow: auto;
        animation: slide-down var(--go-ui-duration-transition-medium) ease-in forwards;

        &.size-sm {
            max-width: min(var(--max-width), var(--go-ui-width-modal-sm));
            height: auto;
            /* FIXME: use variable */
            min-height: min(var(--max-height), 18vh, 12rem);
        }

        &.size-md {
            max-width: min(var(--max-width), var(--go-ui-width-modal-md));
            height: auto;
            /* FIXME: use variable */
            min-height: min(var(--max-height), 32vh, 20rem);
        }

        &.size-lg {
            max-width: min(var(--max-width), var(--go-ui-width-modal-lg));
            max-height: min(var(--max-height), 70vh);
        }

        &.size-xl {
            max-width: min(var(--max-width), var(--go-ui-width-modal-xl));
            max-height: min(var(--max-height), 90vh);
        }

        /* FIXME: remove either size-full or page-width variant */
        &.size-full {
            width: 100%;
            height: 100%;
        }

        &.page-width {
            width: 100%;
            height: 100%;
        }

        &.size-auto {
            width: max-content;
            height: max-content;
        }

        .modal {
            border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
            border-radius: var(--go-ui-border-radius-lg);
            box-shadow: var(--go-ui-box-shadow-2xl);
            background-color: var(--go-ui-color-white);
            width: 100%;
            height: 100%;
            overflow: auto;

            .close-icon {
                font-size: var(--go-ui-height-icon-multiplier);
            }

            .content {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes slide-down {
    from { transform: translateY(-5pt) }
    to { transform: translateY(0) }
}
