.label {
    &.strong {
        font-weight: var(--go-ui-font-weight-medium);
    }

    &.with-uppercase-letters {
        text-transform: uppercase;
    }

    &.text-size-small {
        font-size: var(--go-ui-font-size-sm);
    }

    &.text-size-medium {
        font-size: var(--go-ui-font-size-md);
    }

    &.text-size-large {
        font-size: var(--go-ui-font-size-lg);
    }
}
