.inline-frame {
    margin: 0 auto;
    border: none;
    background-color: var(--go-ui-color-gray-30);
    width: 100%;
    height: 90vh;

    &.sm-size {
        max-width: 16rem;
        max-height: 12rem;
    }

    &.md-size {
        max-width: 24rem;
        max-height: 14rem;
    }

    &.lg-size {
        max-width: 32rem;
        max-height: 24rem;
    }
}
