.base-map-point-input {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--go-ui-spacing-md);
    isolation: isolate;

    .map-container {
        background-color: var(--go-ui-color-background);
        height: 32rem;
    }

    .location-search {
        position: absolute;
        right: var(--go-ui-spacing-sm);
        bottom: var(--go-ui-spacing-sm);
        z-index: 1;
        border-radius: var(--go-ui-border-radius-lg);
        background-color: var(--go-ui-color-foreground);
        padding: var(--go-ui-spacing-sm);
    }
}
