.description {
    overflow-wrap: anywhere;

    &.with-centered-content {
        margin: 0 auto;
        max-width: var(--go-ui-width-content-max);
        text-align: center;
    }

    &.text-size-small {
        font-size: var(--go-ui-font-size-sm);
    }

    &.text-size-medium {
        font-size: var(--go-ui-font-size-md);
    }

    &.text-size-large {
        font-size: var(--go-ui-font-size-lg);
    }

    &.with-light-text {
        color: var(--go-ui-color-text-light);
    }

    &:empty {
        display: none;
    }
}
